<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}

<body class="general{% if page.community_page or layout.community_page %} community-page{% endif %}{% if page.hero_image %} section-page{% endif %}">
  <a class="skip-link" href="#main-content">본문으로 이동</a>
  {% include tag_manager_script.html %}
  <div class="container-fluid header-holder blog-detail-header">
    <div class="container">
      {% include nav.html %}
    </div>
  </div>

  <main id="main-content" class="main-content-wrapper">
    {% if page.hero_image %}{% include section_hero.html %}{% endif %}
    <div class="main-content">
      <div class="container">
        <article class="pytorch-article">
          {{ content }}
        </article>
      </div>
    </div>
  </main>

  {% include footer.html %}
</body>
</html>
